Initial Answer 1: <span id="initial_answer_1"></span><br>
Initial Answer 2: <span id="initial_answer_2"></span><br>
Initial Answer 3: <span id="initial_answer_3"></span><br>
Initial Answer 4: <span id="initial_answer_4"></span><br>

Meta Error 1: <span id="meta_error_1"></span><br>
Meta Error 2: <span id="meta_error_2"></span><br>
Meta Error 3: <span id="meta_error_3"></span><br>
Meta Error 4: <span id="meta_error_4"></span><br>

Rank 1: <span id="rank_1"></span><br>
Rank 2: <span id="rank_2"></span><br>
Rank 3: <span id="rank_3"></span><br>
Rank 4: <span id="rank_4"></span><br>